
body  {
    background: linear-gradient(to right, #00aaff, #d8102b);
    color: white;
}

header h1 {
    text-align: center;
    font-size: 100px;
    
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 60px;
    text-align: center;
}
h4{ 
    font-size: 20px;
}

p {
    text-align: center;
}

label {
    align-content: center;
}
#sign-up {
    text-align: center;
}
.timer {
    text-align: right;
}

nav p{
    text-align: right;
}

.quiz {
    text-align: center;
}


.preguntas {
    text-align: center;
}

#endGame {
    text-align: center;
}

#sumit {
    justify-items: center;
}

#card {
    text-align: center;
}

.card h4 {
    text-align: center;
}

.register {
    text-align: center;
    padding-top: 25px;
}

#sign-up {
    margin-top: 10px;
}

.refresh {
    text-align: center;
}
